.section-about {
    position: relative;
    padding: 60px 0px 0px 0px;
    &__content {
        gap: 60px;
        justify-content: space-between;
    }
    &__article  {
        width: 70%;
        margin-bottom: 90px;
        h2 {
            margin-bottom: 30px;
            color:var(--main-yellow);
        }
        p {
            font-style: italic;
            font-size: var(--h3-font);
            font-weight: 700;
        }
    }
    &__text {
        width: 50%;

        span {
            font-size: var(--h3-font);
            color:var(--main-yellow);
            font-weight: 700;
            font-style: italic;
        }
        h2 {
            color:var(--main-yellow);
        }
        h3 {
            color:var(--main-yellow);
        }
    }
    &__number {
        width: 40%;
        display: flex;
        gap: 30px;
       justify-content: space-between;

        span {
            line-height: 100%;
            font-weight: 800;
            color:var(--main-yellow);
            font-size: var(--font-128);
        }
    }
    &__counter {
        p {
            margin-top: 15px;
            font-weight: 500;
        }
    }
}

@include mq(tablet-wide, max) {
    .section-about {
       &__article {
        width: 100%;
       }
       &__content {
        flex-direction: column;
       }
       &__text {
        width: 100%;
       }
       &__number {
        width: 100%;
       }
    } 
}