* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    background: var(--bg-color);
    font-family: var(--body-font);
    color:var(--dark-color);
}
.body-lock {
    overflow-y: hidden;
}
.wrapp-page {
    min-height: 100vh;
    position: relative;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}
.container {
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 20px;
    width:100%;
}

.flex {
    display: flex;
}

h1 {
    @include h1;
}

h2 {
    @include h2;
}

h3 {
    @include h3;
}

p {
    @include regular;
}

.button-primary {
    @include button-yellow(15px 30px);
  }
.button-gray {
    @include button-gray (15px 30px);
}  
.swiper-button-disabled {
    display: none;
}
.section-breadcrumb-black {
    margin-top: 30px;
    #breadcrumbs {
        margin-bottom: 30px;
        color:var(--main-gray);
    }
}
p#breadcrumbs {
    margin-bottom: 30px;
    color:var(--main-white);
    a {
        color:var(--main-yellow);
    }
}
.section-404 {
    height: calc(100vh - 115px);
    h1 {
        color:var(--main-yellow);
        font-size: 12em;
    }
    &__container{
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    &__card {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items:center;
    }
}
.inner-content {
    color:var(--dark-color);
    h2 {
        margin-bottom: 30px;
    }
    h3 {
        margin-bottom: 30px;
    }
    h4 {
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 15px;
    }
    ul {
        padding-left: 15px;
        list-style: disc;
        li {
            margin-bottom: 15px;
            @include regular;
        }
    }
    ol {
        padding-left: 15px;
        list-style: disc;
        li {
            margin-bottom: 15px;
            @include regular;
        }
    }
    b {
        font-weight: 700;
    }
    strong {
        font-weight: 600;
    }
    img {
        display: inline-block;
        object-fit: cover;
    }

    .schema-faq {
        margin: 2rem auto;
        padding: 1rem;
        border-radius: 12px;
        background: #f9f9f9;
        box-shadow: 0 4px 10px rgba(0,0,0,0.05);
      }
      
      .schema-faq-section {
        margin-bottom: 1.5rem;
        padding: 1rem 1.2rem;
        border-left: 4px solid #00aaff;
        background-color: #fff;
        border-radius: 8px;
        transition: background-color 0.3s ease;
      }
      
      .schema-faq-section:hover {
        background-color: #f0f8ff;
      }
      
      .schema-faq-question::before {
        content: "❓";
        margin-right: 0.5rem;
        color: #0077cc;
      }
      
      .schema-faq-question {
        display: block;
        font-size: 1.2rem;
        font-weight: 600;
        color: #003366;
        margin-bottom: 0.5rem;
      }
      
      .schema-faq-answer::before {
        content: "💬";
        margin-right: 0.5rem;
        color: #007744;
      }
      
      .schema-faq-answer {
        font-size: 1rem;
        color: #333;
        line-height: 1.5;
        margin: 0;
        display: flex;
        align-items: flex-start;
      }
      
      .schema-faq-answer img {
        display: block;
        margin-top: 1rem;
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      }
      a {
        color: var(--main-yellow); // основной цвет ссылки
        text-decoration: underline;
        text-underline-offset: 3px;
        transition: color 0.3s ease, text-decoration-color 0.3s ease;
    
        &:hover {
          color: var(--main-yellow); // темнее при наведении
          text-decoration-color: #005fa3;
        }
    
        &:visited {
          color: var(--dark-color); // необязательно — если нужно отображать посещённые
        }
    
        &:active {
          color: var(--main-gray);
        }
      }
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    // min-width: 400px;
    width: 100%;
    border: 1px solid #ddd;

    thead {
        tr {
            background: var(--main-gray);
            color: var(--main-white);
            text-align: left;
            font-weight: bold;
        }
    }

    th,
    td {
        padding: 12px 15px;
        border: 1px solid #ddd;
    }

    tbody {
        tr {
            border-bottom: 1px solid #dddddd;

            &:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            &:hover {
                background-color: #f1f1f1;
                cursor: pointer;
            }
        }
    }
}
.tabs {
    width: 100%;
    display: block;
}

.tab-links {
    list-style: none;

    li {
        display: inline-block;
        margin-right: 5px;

        a {
            display: inline-block;
            @include regular;
            font-weight: 600;
            text-decoration: none;
            padding: 15px 30px;
            background: #ddd;
            color: #333;
            border-radius: 8px;
            transition: all 0.3s ease-in;
            white-space: nowrap;
            &.active {
                background: #009879;
                color: #fff;
            }
        }
    }
    .active {
        a {
            background:var(--main-yellow);
            color:var(--main-white);
        }
    }
}

.tab-content {
    margin-top: 60px;
    box-shadow: 2px -1px 13px 6px rgba(173, 172, 172, 0.22);
    padding: 30px;
    background: #fff;
    border-radius: 8px;
    h2 {
        margin-bottom: 30px;
    }
    .tab {
        display: none;

        &.active {
            display: block;
        }
    }
}

.pagination-wrapp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
    flex-wrap: wrap;
  }
  
  .pagination {
    display: flex;
    gap: 10px;
  }
  
  .page-numbers {
    display: inline-block;
    padding: 8px 12px;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .page-numbers.current {
    background-color: var(--main-gray);
    color: #fff;
  }
  
  .page-numbers:hover {
    background-color: #ddd;
  }
  
  .custom-arrow--next {
    font-size: 18px;
    padding: 0 8px;
  }
  
  .total-products p {
    font-size: 16px;
    color: #333;
  }
  .next,.prev {
    border:none;
  }
  .main-wrapper {
    min-height: calc(100vh - 100px); /* Высота окна минус высота футера */
  }
  
@include mq(tablet-wide, min) { 
    .tab-links { 
        li {
            a {
                @include hover {
                    background:#acacac;
                    transition: all 0.3s ease-in;
                }
            }
        }
        .active {
            a {
                @include hover {
                    background:var(--main-yellow);
                    transition: all 0.3s ease-in;
                }
            }
        }
    }
}
@include mq(tablet-wide, max) { 
    .styled-table {
        border:none;
    }
    thead {
        display: none; // Скрываем заголовок таблицы на мобильных устройствах
    }
    
    tbody,
    tr,
    td {
        display: block; // Делаем ячейки блоками
        width: 100%; // Ячейки занимают всю ширину контейнера
    }
    
    tr {
        margin-bottom: 15px; // Отступ между строками
    }
    tr td:first-child {
        font-weight: 700;
    }
    td {
        text-align:left; // Текст выравнивается по правому краю
        padding-left: 50%; // Отступ слева для имитации заголовка
        position: relative; // Позиционирование для псевдоэлемента
    
        &::before {
            content: attr(data-label); // Используем атрибут data-label для заголовка
            position: absolute;
            left: 0;
            width: 50%;
            padding-left: 15px;
            font-weight: bold;
            text-align: left; // Текст заголовка выравнивается по левому краю
        }
    }
    
}
.body-lock {
    overflow-y: hidden;
}
@include mq(tablet-wide, max) { 
    .tab-links {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        li {
            width: 100%; /* Табы на мобильных устройствах занимают всю ширину */
            margin:0; /* Добавляем отступы между табами */
            flex: 1 0;
        }

        a {
            text-align: center; /* Центрируем текст в кнопке */
            padding: 15px; /* Уменьшаем отступы */
            width: 100%;
        }
    }
}