.catalog-single {
    padding-top: 60px;
    &__body {
        justify-content: space-between;
        margin-bottom: 90px;
    }
    &__img {
        width: 40%;
        padding: 30px;
        background:var(--main-white);
        border-radius:8px;
        display: flex;
        align-items:center;
        justify-content: center;
        img {
            object-fit: cover;
            width: 100%;
            max-height: 150px;
        }
    }

    &__content {
        width: calc(100% - 40% - 60px);
        .category {
            @include regular;
            font-weight: 600;
            color:var(--dark-color);
            align-items: center;
            gap: 15px;
            a {
                @include regular;
                font-weight: 600;
                color:var(--main-yellow);
            }
        }
        h1 {
            margin: 15px 0px 30px 0px;
            font-weight: 700;
            color:var(--dark-color);
        }
        .price {
            display: block;
            @include h3;
            color:var(--dark-color);
            font-size: 2em;
            margin-bottom: 60px;
        }
    }
    &__block {
        justify-content: space-between;
        gap: 60px;
    }
    &__description {
        width: 65%;
        h3 {
            color:var(--main-yellow);
            margin-bottom: 15px;
        }
    }
    .guarantee  {
        &__block {
            flex-direction: column;
            gap:15px;
            background:var(--main-white);
            padding: 30px;
            border-radius:8px;
            box-shadow: 2px -1px 13px 6px rgba(190, 188, 188, 0.22);
        }
        &__row {
            align-items: center;
            gap: 15px;

            img {
                width: 60px;
            }
            p {
                @include regular;
                font-weight: 600;
            }
        }
    }
    &__table {
        width: 100%;
        table {
            width: 100%;
            border-collapse: collapse;
          
            th, td {
              padding: 15px;
              text-align: left;
            }
          
            th {
              border-bottom: 1px solid #ddd;
            }
          
            tr {
              border-left: none; // Убирает левую линию
              border-right: none; // Убирает правую линию
            }
          
            td {
              border-top: none; // Убирает верхнюю линию
              border-bottom: 1px dashed #ccc; // Добавляет пунктирную нижнюю линию
            }
            tr td:first-child {
                font-weight: 600;
            }
          }
    }
}

@include mq(tablet-wide, max) { 
    .catalog-single {
        &__body {
            flex-direction: column;
            gap: 60px;
        }
        &__img {
            width: 100%;
        }
        &__content {
            width: 100%;
        }
        &__table {
            width: 100%;
        }
        &__block {
            flex-direction: column;
        }
        &__description {
            width: 100%;
        }
    }
}