.catalog-single {
    padding-top: 60px;
    &__body {
        justify-content: space-between;
    }
    &__img {
        width: 40%;
        padding: 30px;
        max-height: 350px;
        background:var(--main-white);
        border-radius:8px;
        display: flex;
        align-items:center;
        justify-content: center;
        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        width: calc(100% - 40% - 60px);
        .all-desc {
            @include regular;
            color:var(--main-yellow);
            font-weight: 500;
        }
        p {
            margin-bottom: 15px;
        }
        h1 {
            font-weight: 700;
            color:var(--dark-color);
            margin-bottom: 40px;
        }
        .price {
            display: block;
            @include h3;
            color:var(--dark-color);
            font-size: 2em;
            margin: 0px;
        }
    }
    &__price {
        gap: 30px;
        align-items:center;
        margin-bottom: 30px;
    }
    &__block {
        justify-content: space-between;
        gap: 60px;
        padding-top: 90px;
    }
    &__description {
        width: 65%;
        h3 {
            color:var(--main-yellow);
            margin-bottom: 15px;
        }
        .tab-content {
            padding: 0;
            box-shadow:none;
            background:none;
        }
        .tab-links {
            .active  {
                a {
                    background:var(--main-gray);
                    color:var(--main-white);
                }
            }
        }
    }
    .guarantee  {
        &__block {
            flex-direction: column;
            gap:15px;
            background:var(--main-white);
            padding: 30px;
            border-radius:8px;
            box-shadow: 2px -1px 13px 6px rgba(190, 188, 188, 0.22);
        }
        &__row {
            align-items: center;
            gap: 15px;

            svg {
                min-width: 60px;
            }
            p {
                @include regular;
                font-weight: 600;
            }
        }
    }
    &__table {
        width: 100%;
        table {
            width: 100%;
            border-collapse: collapse;
          
            th, td {
              padding: 15px;
              text-align: left;
            }
          
            th {
              border-bottom: 1px solid #ddd;
            }
          
            tr {
              border-left: none; // Убирает левую линию
              border-right: none; // Убирает правую линию
            }
          
            td {
              border-top: none; // Убирает верхнюю линию
              border-bottom: 1px dashed #ccc; // Добавляет пунктирную нижнюю линию
            }
            tr td:first-child {
                font-weight: 600;
            }
          }
    }
}
.all-desc {
    margin-bottom: 15px;
    display: inline-block;
}
// .gallery-main {
//     width: 100%; /* Основная галерея занимает 70% ширины родительского контейнера */
//     height: 350px; /* Задайте фиксированную высоту */
//   }
//   .gallery-container {
//     width: 50%;
//     display: flex;
//   }
//   .gallery-main-container {
//     width: 80%;
//   }
//   .gallery-thumbs {
//     width: 60px; /* Ширина миниатюр */
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//     overflow: hidden; /* Скрываем лишние элементы */
//     flex-shrink: 0;
//   }
  
//   .gallery-thumbs .swiper-slide {
//     width: 60px; /* Фиксированная ширина миниатюры */
//     height: 60px; /* Фиксированная высота */
//     overflow: hidden;
//     border: 2px solid transparent;
//     border-radius: 8px;
//   }
  
  
//   .gallery-main .swiper-slide img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     border-radius: 8px;
//   }
  
//   .gallery-thumbs-container {
//     width: 20%; /* Миниатюры занимают 20% ширины */
//     display: flex;
//     flex-direction: column; /* Вертикальное расположение миниатюр */
//     gap: 10px;
//   }
  
//   .gallery-thumbs .swiper-slide {
//     width: 60px; /* Фиксированная ширина миниатюры */
//     height: 60px; /* Фиксированная высота */
//     border: 2px solid transparent;
//     border-radius: 8px;
//     overflow: hidden;
//     cursor: pointer;
//     flex-shrink: 0; /* Отключаем сжатие */
//     transition: border-color 0.3s;
//   }
  
//   .gallery-thumbs .swiper-slide img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
  
//   .gallery-thumbs .swiper-slide-thumb-active {
//     border-color: var(--main-yellow);
//   }
  
  
  
// @include mq(tablet-wide, max) {
//     min-height: ;
//  }
@include mq(tablet-wide,min) {
    .catalog-single {
        &__description {   
            .tab-links {
                a {
                    @include hover {
                        background:var(--main-gray);
                        color:var(--main-white);
                    }
                }
            }
        }
    }
}
@include mq(tablet-wide, max) { 
    .catalog-single {
        &__body {
            flex-direction: column;
            gap: 60px;
        }
        &__img {
            width: 100%;
        }
        &__content {
            width: 100%;
        }
        &__table {
            width: 100%;
        }
        &__block {
            flex-direction: column;
        }
        &__description {
            width: 100%;
        }
    }
}