.catalog {
    padding: 90px 0px;
    &__container {
        display: flex;
        justify-content: space-between;
        gap: 60px;
    }
    &__grid {
        width: 75%;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
    }
}

.sidebar {
    width: 25%;
    padding: 30px;
    background:var(--main-white);
}