.catalog {
    padding: 60px 0px;
    &__container {
        display: flex;
        justify-content: space-between;
        gap: 60px;
    }
    &__grid {
        width: 75%;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
    }
}

.sidebar {
    width: 25%;
    &__wrapp {
        padding: 30px;
        background:var(--main-white);
        border-radius:8px;
    }
    &__form {
        display: inline-flex;
        gap: 15px;
        flex-direction: column;
        label {
            display: flex;
            gap: 10px;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            cursor: pointer;
        }
    }
    h3 {
        margin-bottom: 30px;
    }
    .button-form {
        margin-top: 30px;
    }
}


@include mq(tablet-wide, max) {
    .catalog {
        &__container {
            flex-direction: column;
        }
        &__grid {
            width: 100%;
            grid-template-columns: 1fr;
        }
    }
    .sidebar {
        width: 100%;
    }
 }
