.header-main {
    background: transparent;
    // position: absolute;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    transition: all 0.3s ease-in-out;

    .header-top {
        padding: 15px 0px;
    
        &__container {
            align-items: center;
            justify-content: space-between;
        }
    
        &__logo {
            img {
                height: 40px;
                // width: 140px;
            }
        }
        &__info {
            gap: 10px;
            align-items: center;
            .icon {
                align-items: center;
                justify-content: center;
                color: var(--main-yellow); 
            }
            a {
                @include regular;
                color: var(--main-white);
                font-weight: 500;
                transition: all 0.3s ease-in-out;
                // text-transform: uppercase;
            }
            .text {
                @include regular;
                color: var(--main-white);
                font-weight: 500;
                transition: all 0.3s ease-in-out;
                // text-transform: uppercase;
            }
        }
    }
    
    .header-bottom {
        &__container {
            height: 100%;
            align-items: center;
            justify-content: space-between;
        }
    
        .nav {
            height: 100%;
    
            &__list {
                align-items: center;
                gap: 15px;
            }
    
            li {
                position: relative;
            }
    
            a {
                @include regular;
                color: var(--main-white);
                font-weight: 500;
                z-index: 100;
                &:not(:only-child) {
                    padding: 15px 0px;
                }
            }
            .sub-menu {
                a {
                    color:var(--dark-color);
                }
            }
        }
        .menu-item-has-children a {
            &:not(:only-child) {
                display: flex;
                gap: 5px;
                align-items:center;
            }
            &:not(:only-child):after {
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.29289 8.29289C5.68342 7.90237 6.31658 7.90237 6.70711 8.29289L12 13.5858L17.2929 8.29289C17.6834 7.90237 18.3166 7.90237 18.7071 8.29289C19.0976 8.68342 19.0976 9.31658 18.7071 9.70711L12.8839 15.5303C12.3957 16.0185 11.6043 16.0185 11.1161 15.5303L5.29289 9.70711C4.90237 9.31658 4.90237 8.68342 5.29289 8.29289Z' fill='white' /%3E%3C/svg%3E");
                height: 24px;
                width: 24px;
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: contain;
                position: relative;
                display: block;
                top: 0px;
                bottom: 0px;
                right: 0px;
                transition: all 0.3s ease;
              }
        } 
        .menu-item-has-children .active-menu {
            &:not(:only-child):after {
                transform: rotate(180deg);
                transition: all 0.3s ease;
            }
        }
    }
}
.header {
    width: 100%;
    background:var(--main-white);
    position: relative;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    .header-top {
        padding: 10px 0px;
    
        &__container {
            align-items: center;
            justify-content: space-between;
        }
    
        &__logo {
            img {
                height: 40px;
                // width: 140px;
            }
        }
        &__info {
            gap: 10px;
            align-items: center;
            .icon {
                align-items: center;
                justify-content: center;
                color: var(--main-yellow); 
            }
            a {
                @include regular;
                color: var(--dark-color);
                font-weight: 500;
                // text-transform: uppercase;
            }
            .text {
                @include regular;
                color: var(--dark-color);
                font-weight: 500;
                // text-transform: uppercase;
            }
        }
    }
    .header-bottom {
        
        &__container {
            height: 100%;
            align-items: center;
            justify-content: space-between;
        }
    
        .nav {
            height: 100%;
            .sub-menu {
                .nav__link {
                    color:var(--dark-color);
                }
            }
            &__list {
                align-items: center;
                gap: 15px;
            }
    
            li {
                position: relative;
                // padding-right: 16px;
            }
    
            a {
                @include regular;
                color: var(--dark-color);
                font-weight: 500;
                z-index: 100;
                &:not(:only-child) {
                    padding: 15px 0px;
                }
            }
        }
        .menu-item-has-children a {
            &:not(:only-child) {
                display: flex;
                gap: 5px;
                align-items:center;
            }
            &:not(:only-child):after {
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.29289 8.29289C5.68342 7.90237 6.31658 7.90237 6.70711 8.29289L12 13.5858L17.2929 8.29289C17.6834 7.90237 18.3166 7.90237 18.7071 8.29289C19.0976 8.68342 19.0976 9.31658 18.7071 9.70711L12.8839 15.5303C12.3957 16.0185 11.6043 16.0185 11.1161 15.5303L5.29289 9.70711C4.90237 9.31658 4.90237 8.68342 5.29289 8.29289Z' fill='%232C2828' /%3E%3C/svg%3E");
                height: 24px;
                width: 24px;
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: contain;
                position: relative;
                display: block;
                top: 0px;
                bottom: 0px;
                right: 0px;
                transition: all 0.3s ease;
              }
        } 
        .menu-item-has-children .active-menu {
            &:not(:only-child):after {
                transform: rotate(180deg);
                transition: all 0.3s ease;
            }
        }
    }
}


@include mq(tablet-wide, max) {
    .header {
        .header-bottom {
            display: none;
    
            .nav {
                width: 100%;
                overflow-y: auto;
    
                ul {
                    align-items: flex-start;
                    gap: 10px;

                    li {
                        width: 100%;

                        a {
                            width: 100%;
                            font-size: 24px;
                            display: inline-block;
                            padding: 15px 0px;
                        }
                    }
                }
                .sub-menu {
                    padding-top: 10px;
                }
            }
            .menu-item-has-children a:not(:only-child) {
                justify-content: space-between;
            }
        }
        
    }
    .header-main {
        .header-bottom {
            display: none;
    
            .nav {
                width: 100%;
                overflow-y: auto;
    
                ul {
                    align-items: flex-start;
                    gap: 10px;

                    li {
                        width: 100%;

                        a {
                            width: 100%;
                            font-size: 24px;
                            display: inline-block;
                            padding: 15px 0px;
                        }
                    }
                }
                .sub-menu {
                    padding-top: 10px;
                }
            }
            .menu-item-has-children a:not(:only-child) {
                justify-content: space-between;
            }
        }
        
    }

    .header-top {

        &__info {
            display: none;
        }
    }
    .header-main {
        .burger-menu {
            span {
                background: var(--main-white);
            }
        }
        .show {
            background:#37424c;

            .header-top {
                background: #37424c;
            }
        }
        .header-bottom {
            .nav {
                .sub-menu {
                    a {
                        color:var(--white-color);
                    }
                }
            }
        }
        .show-main {
            .menu-item-has-children::after {
                background-image:url("data:image/svg+xml;charset=utf8,%3Csvg width='27' height='14' viewBox='0 0 27 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.4351 1.26306C27.1198 1.83997 27.1821 2.74274 26.6219 3.3789L26.4351 3.56116L14.8637 13.3112C14.179 13.8881 13.1076 13.9405 12.3526 13.4685L12.1363 13.3112L0.564864 3.56116C-0.18829 2.92656 -0.18829 1.89766 0.564864 1.26306C1.24955 0.68615 2.32097 0.633704 3.07597 1.10572L3.29227 1.26306L13.5 9.86401L23.7077 1.26306C24.4609 0.628459 25.682 0.628459 26.4351 1.26306Z' fill='%23FFFFFF'/%3E%3C/svg%3E")!important;
            }
        }
    }
    
    .burger-menu {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
            transition: all 0.3s ease;
            background: var(--dark-color);
            display: block;
            height: 3px;
            width: 30px;
        }
    }

    .burger-menu-active {
        span:nth-child(1) {
            transform: rotate(45deg);
            transition: all 0.3s ease;
        }

        span:nth-child(2) {
            display: none;
        }

        span:nth-child(3) {
            transform: rotate(-45deg);
            position: relative;
            top: -7px;
            transition: all 0.3s ease;
        }
    }

    .sub-menu {
        position: relative;
        z-index: 1000;
        padding: 24px;
        display: none;
        visibility: visible;
        padding-bottom: 0px;

        li {
            padding-bottom: 10px !important;

            a {
                padding: 0 !important;
                width: 100%;
                display: block;
                // color:var(--dark-color)!important;
            }
        }

        li:not(:last-child) {
            margin-bottom: 16px;
        }
    }
   
    
}

@include mq(tablet-wide, min) {

    .header {
        .header-top {
            border-bottom: 1px solid rgba(214, 214, 214, 0.457);
            &__info {
                a {
                    @include hover {
                        color:var(--main-yellow);
                    }
                }
            }
            &__info {
                @include hover {
                    color:var(--main-yellow);
                    .text {
                        color:var(--main-yellow);   
                    }
                }
            }
        }
        .header-bottom {
            .nav {
                a:hover {
                    color: var(--main-yellow)!important;
                }
            }
            .menu-item-has-children a {
                @include hover {
                    &:not(:only-child):after {
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.29289 8.29289C5.68342 7.90237 6.31658 7.90237 6.70711 8.29289L12 13.5858L17.2929 8.29289C17.6834 7.90237 18.3166 7.90237 18.7071 8.29289C19.0976 8.68342 19.0976 9.31658 18.7071 9.70711L12.8839 15.5303C12.3957 16.0185 11.6043 16.0185 11.1161 15.5303L5.29289 9.70711C4.90237 9.31658 4.90237 8.68342 5.29289 8.29289Z' fill='%23F8C957' /%3E%3C/svg%3E");
                      }
                }
            } 
        }
    }
    .header-main {
        .header-top {
            border-bottom: 1px solid rgba(214, 214, 214, 0.362);
            &__info {
                a {
                    @include hover {
                        color:var(--main-yellow);
                        .text {
                            color:var(--main-yellow);   
                        }
                    }
                }
            }
            &__info {
                @include hover {
                    color:var(--main-yellow);
                    .text {
                        color:var(--main-yellow);   
                    }
                }
            }
            
        }
        .header-bottom {
            .nav {
                a:hover {
                    color: var(--main-yellow)!important;
                }
            }
            .menu-item-has-children a {
                @include hover {
                    &:not(:only-child):after {
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.29289 8.29289C5.68342 7.90237 6.31658 7.90237 6.70711 8.29289L12 13.5858L17.2929 8.29289C17.6834 7.90237 18.3166 7.90237 18.7071 8.29289C19.0976 8.68342 19.0976 9.31658 18.7071 9.70711L12.8839 15.5303C12.3957 16.0185 11.6043 16.0185 11.1161 15.5303L5.29289 9.70711C4.90237 9.31658 4.90237 8.68342 5.29289 8.29289Z' fill='%23F8C957' /%3E%3C/svg%3E");
                      }
                }
            } 
        }
    }
    .sub-menu {
        position: absolute;
        min-width: 300px;
        width: fit-content;
        z-index: 1000;
        left: 0px;
        top: 50px;
        padding: 24px;
        background: var(--white-color);
        border-radius: 10px;
        box-shadow: 0px 4px 40px 2px rgba(0, 19, 27, 0.1);
        display: none;
        visibility: visible;

        li {
            a {
                padding: 0 !important;
                width: 100%;
                display: block;
            }
        }

        li:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    .burger-menu {
        display: none;
    }
}

.show {
    display: block !important;
    height: calc(100vh - 60px);

    .header-bottom__container {
        padding-top: 60px;
        padding-bottom: 60px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        height: calc(100vh - 80px);
    }

    .nav {
        &__list {
            gap: 30px;
            height: 100%;
            flex-direction: column;
        }
    }
}