.hero {
    position: relative;
    z-index: 10;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items:center;
    padding-top: 105px;

    &__container {
        display: flex;
        align-items:center;
        gap: 60px;
        h1 {
            text-transform: uppercase;
            margin-bottom: 30px;
            color:var(--main-yellow);
        }
        a {
            margin-top: 30px;
            display: inline-block;
        }
        h2 {
            text-transform: uppercase;
            color:var(--main-white);
            font-weight: 500;
            margin-bottom: 30px;
        }
        p {
            color:var(--main-white);
            width: 70%;
        }
    }
    &__img {
        width: 50%;

        img {
            // max-height: 350px;
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
    }
}

@include mq(tablet-wide, max) {
    .hero {
        background-position: 80% 50%;
        &__img {
            display: none;
        }
    }

}