.services-section {
    background:var(--main-white);
    padding: 90px 0px;

    &__container {
        gap: 30px;
    }
    &__card {
        span {
            color:var(--main-yellow);
            font-size: 96px;
            font-weight: 800;
        }
    }
}

.info-section {
   padding: 90px 0px;
    &__card {
        padding: 30px;
        background:var(--main-white);
        border-radius: 8px;
    }
    &__column {
        flex-basis: 49%;
    }
}