.services-section.services-section-main {
    margin: 0;
}
.services-section {
    background: var(--main-gray);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    // background:var(--main-white);
    padding: 90px 0px;
    margin: 90px 0px;
    &__container {
        gap: 30px;
        justify-content: space-between;
    }
    &__card {
        flex: 1;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between; 
        gap: 20px;
        span {
            color:var(--main-yellow);
            font-size: 96px;
            font-weight: 800;
            display: inline-block;
            margin-bottom: 15px;
        }
        h2 {
            text-transform: uppercase;
            color:var(--main-white);
        }
        p {
            flex-grow: 1;
            color:var(--main-white);
            margin-bottom: 15px;
        }
        a {
            display: inline-block;
            width: fit-content;
        }
    }
}

.info-section {
    &__grid {
        padding: 90px 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: auto auto;
        gap: 30px;
    }
   
    &__card {
        padding: 30px;
        background:var(--main-white);
        border-radius: 8px;
        box-shadow: 2px -1px 13px 6px rgba(190, 188, 188, 0.22);
        background:var(--main-yellow);
        h2 {
            color:var( --main-gray);
            text-transform: uppercase;
            font-weight: 800;
            margin-bottom: 15px;
        }
        p {
            color:var(--dark-color);
            @include regular;
            font-weight: 600;
            font-size: 18px;
        }
        
    }
    &__text {
        span {
            display: none;
            width: fit-content;
            @include button(var(--main-white),var(--dark-color));
        }
    }
    &__card--1,&__card--3 {
        position: relative;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: flex;
        gap: 15px;
       .info-section__text {
            width: 65%;
            display: flex;
            flex-direction: column;
            justify-content: center;
       }
       .info-section__img {
            width: 35%;
       }
       img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        }
    }
    
    &__card--2 {
        grid-column: 2;
        grid-row: 1 / 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img {
            display: block;
            width: 100%;
            margin: 30px 0px;
        }
        span {
            width: fit-content;
            display: inline-block;
            @include button(var(--main-white),var(--dark-color));
        }
    }
   
}


@include mq(tablet-wide, max) { 

    .services-section {
        &__container {
            flex-direction: column;
            gap: 60px;
        }
    }
    .info-section {
        &__grid {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
        }
        &__card {
            gap: 0;
            padding: 25px;
            img {
                display: none;
            }
        }
        &__card--2 {
            grid-column: 1/2;
            grid-row: 2 ;
            span {
                display: inline-block;
                margin-top: 20px;
            }
        }
        &__card--3, &__card--1 {
            background-image: inherit!important;
            flex-direction: column;
            .info-section__text {
                width: 100%;
                span {
                    display: inline-block;
                    margin-top: 20px;
                }
            }
        }
    }
}

@include mq(tablet-wide, min) {
    .services-section {
        background-attachment:fixed;
    }
    .info-section {
        &__card:hover {
            transition: all 0.3s ease;
            box-shadow: 0 8px 20px 0 rgba(2, 24, 44, 0.281);
        }
        &__card:hover > &__img img {
            transform: scale(1.1);
            transition: all 0.3s ease;
        }
        &__card:hover > img {
            transform: scale(1.1);
            transition: all 0.3s ease;
        }
        &__card--2:hover > span {
            background:var(--main-gray);
            transition: all 0.3s ease;
            color:var(--main-white); 
        }
    }
}


