.section-product {
    padding-bottom: 90px;
    &__info {
        justify-content: space-between;
    }
    &__nav {
        gap: 15px;
        margin-bottom: 30px;
        .swiper-product-prev,.swiper-product-next {
            color: var(--main-yellow);
            cursor: pointer;
        }
    }
}
.swiper-product {
    &__slide {
        height: auto;
    }
}
.product-card {
    padding: 30px;
    background: var(--white-color);
    border-radius: 8px;
    box-shadow: 2px -1px 13px 6px rgba(190, 188, 188, 0.22);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    &__img {
        width: 100%;
        img {
            display: block;
            width: 100%;
            object-fit: cover;
            max-height: 150px;
        }
    }
    &__info {
        flex-direction: column;
    }
    &__row {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .title {
            font-weight: 700;
            min-height: 50px;
        }

        ul {
            font-size: 14px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            li {
                justify-content: space-between;
                

                p:nth-child(1) {
                    width: 70%;
                    display: inline-block;
                }
                p:nth-child(2) {
                    font-weight: 600;
                }
            }
        }
    }
}

.price {
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0px;
}