.services {
    background:var(--main-white);
    padding: 90px 0px;
    margin-top: 90px;
    margin-bottom: 90px;
    &___container {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
    }
    &__card--1 {
        grid-column: 1;
        grid-row: 1 / 3;
    }
    &__card {
        padding: 30px;
        border-radius:8px;
        position: relative;
        color:var(--main-white);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        span {
            width: fit-content;
        }
    }

}

.services-text {
    padding: 90px 0px;
}
.services-img {
    &__container {
        gap: 60px;
        justify-content: space-between;
    }
    &__img {
        width: 45%;
        img {
            display: block;
            width: 100%;
            border-radius:8px;
        }
    }
    &__content {
        width: 50%;
    }
}
@include mq(tablet, min) {
    .map-section {
        &__social {
            @include hover {
                color:var(--main-white);
            }
        }
    }
    .services {
        &__card--2 {
            gap: 30px;
        }
        &__card--3 {
            gap: 30px;
        }
    }
}


@include mq(tablet-wide, max) { 
    .services {
        &___container {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
        }
        &__card {
            gap: 30px;
        }
        &__card--1 {
            grid-column: 1/2;
            grid-row: 1;
        }
    }
}

@include mq(tablet-wide, min) {
    .services {
        &__card:hover {
            transform: scale(1.02);
            transition: all 0.3s ease;
            box-shadow: 0 8px 20px 0 rgba(2, 24, 44, 0.281);
        }
        &__card:hover > span {
            background:#DAAB3A;
            transition: all 0.3s ease;
            color:var(--main-white); 
        }
    }
}