extends layout/app

block page 
    include chunk/header
    main.main 
        section.hero-services(style='background-image: linear-gradient(rgba(43, 60, 77, 0.74), rgba(43, 60, 77, 0.74)), url("./img/fon-2.png"); ')
            .container 
                ol.breadcrumb.flex
                    li#breadcrumbs.breadcrumb__item
                        span
                        span
                            a(href="./") Главная
                            |  / 
                            span.breadcrumb_last(aria-current="page") О компании
                h1 О компании
        section.section-about
            .container.section-about__container
                .section-about__cards 
                    .section-about__card 
                        h2 Почему мы ?
                        p Настенный кондиционер Mild MLI-07RF/ MLO-07RF – это надежное и эффективное решение для обеспечения комфортного климата в вашем помещении. Он обладает высокой производительностью и удобными функциями, которые позволяют настроить и поддерживать комфортную температуру в помещении. Сердце кондиционера Mild – компрессор фирмы GMCC TOSHIBA, что увеличивает срок службы моделей и делает их абсолютно безопасными. Дисплей на передней панели внутреннего блока отображает настроенную пользователем температуру воздуха.  
                    .section-about__card 
                        h2 Опыт работы
                        p Настенный кондиционер Mild MLI-07RF/ MLO-07RF – это надежное и эффективное решение для обеспечения комфортного климата в вашем помещении. Он обладает высокой производительностью и удобными функциями, которые позволяют настроить и поддерживать комфортную температуру в помещении. Сердце кондиционера Mild – компрессор фирмы GMCC TOSHIBA, что увеличивает срок службы моделей и делает их абсолютно безопасными. Дисплей на передней панели внутреннего блока отображает настроенную пользователем температуру воздуха.
                    .section-about__card 
                        h2 Команда специалистов
                        p Настенный кондиционер Mild MLI-07RF/ MLO-07RF – это надежное и эффективное решение для обеспечения комфортного климата в вашем помещении. Он обладает высокой производительностью и удобными функциями, которые позволяют настроить и поддерживать комфортную температуру в помещении. Сердце кондиционера Mild – компрессор фирмы GMCC TOSHIBA, что увеличивает срок службы моделей и делает их абсолютно безопасными. Дисплей на передней панели внутреннего блока отображает настроенную пользователем температуру воздуха.
                    .scroll-about 
        include chunk/sertificates
        include chunk/services
        include chunk/card-slider
        include chunk/map
    include chunk/footer