extends layout/app

block page 
    include chunk/header
    main.main 
        section.hero-services(style='background-image: linear-gradient(rgba(43, 60, 77, 0.74), rgba(43, 60, 77, 0.74)), url("./img/fon-2.png"); ')
            .container 
                p#breadcrumbs
                    span
                        span
                            a(href="./") Главная
                        |  / 
                        span.breadcrumb_last Контакты
                h1 О компании
        section.section-about
            .container.section-about__container
                article.section-about__article 
                    h2 Почему мы?
                    p "Мы стремимся создавать комфортные и безопасные условия для жизни и работы, предоставляя качественные и надежные решения в области кондиционирования воздуха."
                .section-about__content.flex
                    .section-about__text    
                        p 
                            span Computex 
                            | - лидер в сфере кондиционирования воздуха с многолетним опытом и высоким уровнем профессионализма. Мы предлагаем полный спектр услуг, от подбора и установки кондиционеров до их обслуживания и ремонта.
                    .section-about__number 
                        .section-about__counter 
                            span +
                            span.counter(data-number="1000") 1000
                            p довольных клиентов
                        .section-about__counter 
                            span >
                            span.counter(data-number="10") 10
                            p лет опыта
        include chunk/our-partners
        include chunk/services-block
        include chunk/card-slider

    include chunk/footer