extends layout/app

block page 
    include chunk/header
    main.main 
        section.section-breadcrumb 
            .container 
                ol.breadcrumb.flex
                    li#breadcrumbs.breadcrumb__item
                        span
                        span
                            a(href="./") Главная
                            |  / 
                            span.breadcrumb_last(aria-current="page") Товар 1
        section.catalog-single
            .container.catalog-single__container
                .catalog-single__body.flex
                    .catalog-single__img 
                        img(src="./img/img-card.jpg" alt="")  
                    .catalog-single__content 
                        .category.flex 
                            span Категория:
                            a(href="") 10-20 кв 
                        h2 Кондиционер
                        p Настенный кондиционер Mild MLI-07RF/ MLO-07RF – это надежное и эффективное решение для обеспечения комфортного климата в вашем помещении.
                        span.price 1200 BYN
                        a(href="./contact.html").button-primary Купить 
                .catalog-single__info
                    h3 Характеристики
                    .catalog-single__table
                        table 
                            tbody 
                                tr 
                                    td Страна происхождения (производства) 
                                    td Китай
                                tr 
                                    td Тип питания 
                                    td Сеть
        include chunk/services
        include chunk/card-slider
        include chunk/map
    include chunk/footer