extends layout/app

block page 
    include chunk/header
    main.main 
        section.section-breadcrumb 
            .container 
                p#breadcrumbs
                    span
                        span
                            a(href="./") Главная
                        |  / 
                        span.breadcrumb_last(aria-current="page") Контакты
        section.catalog-single
            .container.catalog-single__container
                .catalog-single__body.flex
                    a(href="./img/img-card.jpg").catalog-single__img
                        img(src="./img/img-card.jpg" alt="")  
                    .catalog-single__content 
                        h1 Кондиционер
                        p Настенный кондиционер Mild MLI-07RF/ MLO-07RF – это надежное и эффективное решение для обеспечения комфортного климата в вашем помещении.
                        a(href="#info").all-desc Все характеристики
                        .catalog-single__price.flex
                            span.price 1200 BYN
                            a(href="./contact.html").button-primary Купить 
                .catalog-single__block.flex#info
                    .catalog-single__description
                        h3 Характеристики
                        .catalog-single__table
                            table 
                                tbody 
                                    tr 
                                        td Страна происхождения (производства) 
                                        td Китай
                                    tr 
                                        td Тип питания 
                                        td Сеть
                                    tr 
                                        td Страна происхождения (производства) 
                                        td Китай
                                    tr 
                                        td Тип питания 
                                        td Сеть
                                    tr 
                                        td Страна происхождения (производства) 
                                        td Китай
                                    tr 
                                        td Тип питания 
                                        td Сеть
                                    tr 
                                        td Страна происхождения (производства) 
                                        td Китай
                                    tr 
                                        td Тип питания 
                                        td Сеть
                    .catalog-single__info.guarantee 
                        .guarantee__block.flex
                            .guarantee__row.flex
                                img(src="./img/garanty.svg" alt="")
                                p Гарантия 5 лет
                            .guarantee__row.flex
                                img(src="./img/card.svg" alt="")
                                p Возможность рассрочки до 12 месяцев
        include chunk/services-block
        include chunk/card-slider
        include chunk/map
    include chunk/footer