extends layout/app

block page 
    include chunk/header
    main.main 
        section.catalog-single
            .container.catalog-single__container
                .catalog-single__img 
                    img(src="./img/img-card.jpg", alt="")  
                .catalog-dingle__info
        section
        include chunk/card-slider
        include chunk/map
    include chunk/footer