extends layout/app

block page 
    include chunk/header
    main.main 
        section.catalog
            .container.catalog__container
                .sidebar 
                .catalog__grid 
                    include chunk/card-catalog
                    include chunk/card-catalog
                    include chunk/card-catalog
                    include chunk/card-catalog
                    include chunk/card-catalog
                    include chunk/card-catalog
    include chunk/footer