extends layout/app

block page 
    include chunk/header
    main.main 
        section.section-breadcrumb 
            .container 
                ol.breadcrumb.flex
                    li#breadcrumbs.breadcrumb__item
                        span
                        span
                            a(href="./") Главная
                            |  / 
                            span.breadcrumb_last(aria-current="page") Контакты
        include chunk/services
        include chunk/card-slider
        include chunk/map
    include chunk/footer