extends layout/app

block page 
    include chunk/header
    h1 привет
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi commodi obcaecati dolorum. Exercitationem ab dolorem pariatur suscipit, dolore consequatur corporis! Natus temporibus ratione, cumque possimus quam tempore facere repellat unde?
