extends layout/app

block page 
    .wrapp-page
        include chunk/header-main
        main.main
            section.hero(style='background-image: linear-gradient(rgba(43, 60, 77, 0.74), rgba(43, 60, 77, 0.74)), url("./img/fon-2.png"); ')
                .container.hero-container 
                    .hero-container__content 
                        h1 Максимальный комфорт с нашими кондиционерами!
                        h2 С гарантией на 5 лет!
                        p Обеспечьте свой дом идеальной прохладой с нашими кондиционерами: мы предложим вам лучший подбор, быстрый монтаж и непревзойденные цены.
                        a(href="").button-primary Каталог 
                    .hero-container__img 
                        img(src="img/air-con.jpg" alt="")
            include chunk/brand  
            include chunk/card-slider
            section.services-section 
                .container.services-section__container.flex
                    .services-section__card
                        span 01.
                        h2 Монтаж
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, expedita! Perspiciatis maxime, odit quis corrupti aut dolorem. Sed nemo, eveniet neque atque autem, totam sint saepe similique temporibus officia corrupti!
                        a(href="").button-primary Подробнее
                    .services-section__card
                        span 02.
                        h2 Обслуживание
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, expedita! Perspiciatis maxime, odit quis corrupti aut dolorem. Sed nemo, eveniet neque atque autem, totam sint saepe similique temporibus officia corrupti!
                        a(href="").button-primary Подробнее
                    .services-section__card
                        span 03.
                        h2 Ремонт
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, expedita! Perspiciatis maxime, odit quis corrupti aut dolorem. Sed nemo, eveniet neque atque autem, totam sint saepe similique temporibus officia corrupti!
                        a(href="").button-primary Подробнее
            section.info-section
                .container.info-section__container
                    .info-section__grid
                        a(href="").info-section__card.info-section__card--1(style='background-image: url("./img/bg-sale.png"); ')
                            h2 Кондиционеры по лучшим ценам!
                            img(src="img/conditioner-2.png", alt="")
                        a(href="").info-section__card.info-section__card--2
                            h2 Покупай сейчас —плати потом
                            p Все виды кондиционеров от 40 р. в месяц
                            img(src="img/credit-card.png" alt="")
                        a(href="").info-section__card.info-section__card--3
                            h2 кондиционеры для помещений от 50 кв.
            include chunk/news
        include chunk/footer