extends layout/app

block page 
    .wrapp-page
        include chunk/header-main
        main.main
            section.hero(style='background-image: linear-gradient(rgba(43, 60, 77, 0.74), rgba(43, 60, 77, 0.74)), url("./img/fon-2.png"); ')
                .container.hero__container 
                    .hero__content 
                        h1 Максимальный комфорт с нашими кондиционерами!
                        h2 С гарантией на 5 лет!
                        p Обеспечьте свой дом идеальной прохладой с нашими кондиционерами: мы предложим вам лучший подбор, быстрый монтаж и непревзойденные цены.
                        a(href="./catalog.html").button-primary Каталог 
                    .hero__img 
                        img(src="img/air-con.jpg" alt="")
            include chunk/brand  
            include chunk/card-slider
            section.services-section 
                .container.services-section__container.flex
                    .services-section__card
                        span 01.
                        h2 Монтаж
                        p Профессиональный монтаж кондиционеров — ключевой этап в обеспечении комфортного и здорового микроклимата в помещении.
                        a(href="./services-installation.html").button-primary Подробнее
                    .services-section__card
                        span 02.
                        h2 Обслуживание
                        p Сервисное обслуживание кондиционеров — необходимая процедура для поддержания их эффективной и бесперебойной работы. 
                        a(href="./services-service.html").button-primary Подробнее
                    .services-section__card
                        span 03.
                        h2 Ремонт
                        p Профессиональный ремонт кондиционеров — ключевой этап в обеспечении комфортного и здорового микроклимата в помещении.
                        a(href="./services-repair.html").button-primary Подробнее
            section.info-section
                .container.info-section__container
                    .info-section__grid
                        a(href="./catalog.html").info-section__card.info-section__card--1(style='background-image: url("./img/bg-sale-1.png"); ')
                            h2 Кондиционеры по лучшим ценам!
                            img(src="img/conditioner-2.png", alt="")
                            p Комфорт в каждом доме
                        a(href="").info-section__card.info-section__card--2
                            h2 Покупай сейчас —плати потом!
                            p Все виды кондиционеров от 40 р. в месяц
                            img(src="img/credit-card.png" alt="")
                            span Подробнее
                        a(href="./catalog.html").info-section__card.info-section__card--3
                            h2 кондиционеры для помещений от 50 кв.
                            img(src="img/group-conditioner.png", alt="")
                            p Комфортные условия для больших площадей
            include chunk/news
            include chunk/map
        include chunk/footer