extends layout/app

block page 
    include chunk/header
    main.main 
        section.section-breadcrumb 
            .container 
                p#breadcrumbs
                    span
                        span
                            a(href="./") Главная
                        |  / 
                        span.breadcrumb_last(aria-current="page") Контакты
        section.section-all-news 
            .container.section-all-news__grid
                .news-single__content.section-all-news__content
                    .info
                        h3 Воздухоочистители vs кондиционеры: что лучше для вашего дома
                        span 25 января
                    p Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit
                    a(href="./news-single-page.html").button-primary Подробнее 
                .news-single__content.section-all-news__content
                    .info
                        h3 Воздухоочистители vs кондиционеры: что лучше для вашего дома
                        span 25 января
                    p Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit
                    a(href="./news-single-page.html").button-primary Подробнее
                .news-single__content.section-all-news__content
                    .info
                        h3 Воздухоочистители vs кондиционеры: что лучше для вашего дома
                        span 25 января
                    p Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit
                    a(href="./news-single-page.html").button-primary Подробнее
                .news-single__content.section-all-news__content
                    .info
                        h3 Воздухоочистители vs кондиционеры: что лучше для вашего дома
                        span 25 января
                    p Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit
                    a(href="./news-single-page.html").button-primary Подробнее
                .news-single__content.section-all-news__content
                    .info
                        h3 Воздухоочистители vs кондиционеры: что лучше для вашего дома
                        span 25 января
                    p Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit
                    a(href="./news-single-page.html").button-primary Подробнее
                .news-single__content.section-all-news__content
                    .info
                        h3 Воздухоочистители vs кондиционеры: что лучше для вашего дома
                        span 25 января
                    p Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit
                    a(href="./news-single-page.html").button-primary Подробнее
        include chunk/map
    include chunk/footer