extends layout/app

block page 
    include chunk/header
    main.main 
        section.hero-services(style='background-image: linear-gradient(rgba(43, 60, 77, 0.74), rgba(43, 60, 77, 0.74)), url("./img/fon-2.png"); ')
            .container 
                p#breadcrumbs
                    span
                        span
                            a(href="./") Главная
                        |  / 
                        span.breadcrumb_last(aria-current="page") Контакты
                h1 Оплата и гарантия
        section.services-tab 
            .container 
                .tabs
                    ul.tab-links
                        li.active 
                            a(href="#tab1") Оплата
                        li 
                            a(href="#tab2") Гарантия
                        li
                            a(href="#tab3") Рассрочка
                    .tab-content
                        #tab1.tab.active.inner-content
                            h2 Оплата
                            ul 
                                li 
                                    h3 Наличный расчет. 
                                    p Вы можете оплатить покупку наличными в нашем офисе или при доставке товара курьером. Все наличные платежи сопровождаются выдачей кассового чека.
                                li 
                                    h3 Безналичный расчет
                                    p Для вашего удобства мы принимаем безналичные платежи. Вы можете оплатить заказ банковским переводом или через интернет-банкинг. При оформлении заказа на сайте, выберите опцию "Безналичный расчет" и следуйте инструкциям.
                                li 
                                    h3 Банковские карты
                                    p Мы принимаем оплату банковскими картами Visa, MasterCard и Мир. Оплатить заказ можно как онлайн на нашем сайте, так и в офисе или при доставке товара. Все транзакции защищены и соответствуют стандартам безопасности.
                        #tab2.tab.inner-content
                            h2 Гарантия на кондиционеры
                            p Мы ценим доверие наших клиентов и стремимся обеспечить высочайшее качество нашей продукции. Все кондиционеры, приобретенные у нас, имеют гарантию, которая защищает вас от возможных производственных дефектов и неполадок.                        
                        #tab3.tab.inner-content
                            h2 Рассрочка
                            p Мы предлагаем удобные условия доставки по всей стране. Вы можете выбрать доставку курьером на дом или самовывоз из нашего офиса. Условия доставки зависят от вашего местоположения и суммы заказа.
        include chunk/services-block
        include chunk/card-slider
        include chunk/map
        include chunk/footer