extends layout/app

block page 
    include chunk/header
    main.main 
        section.hero-services(style='background-image: linear-gradient(rgba(43, 60, 77, 0.74), rgba(43, 60, 77, 0.74)), url("./img/fon-2.png"); ')
            .container 
                p#breadcrumbs
                    span
                        span
                            a(href="./") Главная
                        |  / 
                        span.breadcrumb_last(aria-current="page") Контакты
                h1 Монтаж кондиционеров
        section.services-text.inner-content 
            .container 
                h2 Процесс установки
                p В Гомеле жаркое лето больше не станет причиной дискомфорта! Наша компания предлагает профессиональный монтаж кондиционеров, который гарантирует вам прохладу и свежесть в самые жаркие дни. Мы обеспечиваем не только комфорт, но и уверенность в надёжности каждого установленного нами устройства.
                p Установка кондиционера — это важный процесс, который значительно улучшает качество жизни в помещении, обеспечивая комфортные условия в жаркие дни. Процесс монтажа требует профессионального подхода и точности, чтобы система работала эффективно и безопасно.
        section.services-img 
            .container.flex.services-img__container
                .services-img__img 
                    img(src="./img/repair.jpg" alt="")
                .services-img__content.inner-content 
                    h2 Что включает процесс монтажа кондиционеров?
                    ul 
                        li Консультации и выбор оборудования. Специалисты помогают подобрать кондиционер, идеально подходящий для помещения по мощности и функциональности.
                        li Подготовка места установки. Это может включать демонтаж старых систем, подготовку стен и других поверхностей.
                        li Монтаж внутреннего и внешнего блоков. Специалисты аккуратно устанавливают и подключают все необходимые компоненты системы.
                        li Проверка системы и демонстрация работы. После установки проводится тестирование системы, чтобы убедиться в её исправной работе.
        section.services-price 
            .container 
                h2 Прайс по услуге
                .services-price__table 
                    table.styled-table
                        thead 
                            tr 
                                td Услуга
                                td Цена
                        tbody 
                            tr 
                                td Товар 1
                                td 10 р
                            tr 
                                td Мотаж 2
                                td 20 р
                            tr 
                                td Мотаж 2
                                td 20 р
                            tr 
                                td Мотаж 2
                                td 20 р
        include chunk/reference
        include chunk/services-block
        include chunk/card-slider

    include chunk/footer