section.popular-brand 
    .popular-brand__container
        .swiper.swiper-brand-chanel
            .swiper-wrapper
                .swiper-slide
                    img(src="img/logo-samsung.png" alt="logo")
                .swiper-slide
                    img(src="img/logo-samsung.png" alt="logo")
                .swiper-slide
                    img(src="img/logo-lg.png" alt="logo")
                .swiper-slide
                    img(src="img/logo-samsung.png" alt="logo")
                .swiper-slide
                    img(src="img/logo-lg.png" alt="logo")
                .swiper-slide
                    img(src="img/logo-samsung.png" alt="logo")
                .swiper-slide
                    img(src="img/logo-lg.png" alt="logo")
                .swiper-slide
                    img(src="img/logo-samsung.png" alt="logo")
                .swiper-slide
                    img(src="img/logo-lg.png" alt="logo")
                .swiper-slide
                    img(src="img/logo-samsung.png" alt="logo")
                .swiper-slide
                    img(src="img/logo-lg.png" alt="logo")
                .swiper-slide
                    img(src="img/logo-samsung.png" alt="logo")
                .swiper-slide
                    img(src="img/logo-lg.png" alt="logo")
            