article.product-card
    .product-card__row 
        .product-card__img
            img(src="./img/img-card.jpg" alt="")   
        a(href="./catalog-single.html").title Кондиционер ECOSTAR KVS-RAY09ST RAY
        hr
        ul 
            li.flex 
                p Обслуживающая площадь
                p 30кв
            li.flex 
                p Площадь
                p Да
            li.flex 
                p Мощность
                p Да
            li.flex 
                p Обслуживающая 
                p Да
            li.flex 
                p Обслуживающая площадь
                p Да
    .product-card__info.flex 
        span.price 1500 BYN
        a(href="./catalog-single.html").button-gray Подробнее   