article.product-card
    .product-card__row 
        .product-card__img
            img(src="./img/img-card.jpg" alt="")   
        a(href="").title Кондиционер ECOSTAR KVS-RAY09ST RAY
        hr
        ul 
            li.flex 
                p Обслуживающая площадь: 
                p 50 кв
            li.flex 
                p Площадь: 
                p 50 кв
            li.flex 
                p Мощность: 
                p 50 
            li.flex 
                p Обслуживающая 
                p 50
            li.flex 
                p Обслуживающая площадь
                p 50
    .product-card__info.flex 
        span.price 1500 BYN
        a(href="./catalog-single.html").button-gray Подробнее   