article.product-card
    .product-card__img
        img(src="./img/img-card.jpg" alt="")   
    .product-card__row 
        p.title Кондиционер ECOSTAR KVS-RAY09ST RAY
        hr
        ul 
            li.flex 
                p Обслуживающая площадь: 
                p 50 кв
            li.flex 
                p Обслуживающая площадь: 
                p 50 кв
            li.flex 
                p Мощность: 
                p 50 
            li.flex 
                p Обслуживающая площадь
                p 50
            li.flex 
                p Обслуживающая площадь
                p 50
        hr
        span.price 1500 BYN
        a(href="").button-gray подробнее