section.map-section
      gmp-map(center="52.432777404785156,31.00490379333496" zoom="14" map-id="DEMO_MAP_ID")
        gmp-advanced-marker(position="52.432777404785156,31.00490379333496" title="My location")