section.map-section
    div#map 
    //-   gmp-map(center="52.432777404785156,31.00490379333496" zoom="18" map-id="map" )
    //-     gmp-advanced-marker(position="52.432777404785156,31.00490379333496" title="My location")