section.news 
    .container.news__container.flex
        .news__info
            h2 Новости
            p Актуальная информация о работе и новых поступлениях
            a(href="./all-news.html").news__link все новости
            .news__nav.flex
                .swiper-news-prev.swiper-nav-hover
                    svg(width="55" height="55" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg")
                        rect(width="65" height="65" rx="8" fill="currentColor")
                        path(d="M36.5816 41.5816C36.0744 42.0888 35.2808 42.1349 34.7215 41.7199L34.5613 41.5816L25.9898 33.0102C25.4827 32.503 25.4366 31.7093 25.8515 31.1501L25.9899 30.9898L34.5613 22.4184C35.1192 21.8605 36.0237 21.8605 36.5816 22.4184C37.0888 22.9256 37.1349 23.7192 36.7199 24.2785L36.5816 24.4387L29.0203 32L36.5816 39.5613C37.1395 40.1192 37.1395 41.0237 36.5816 41.5816Z" fill="white")
                .swiper-news-next.swiper-nav-hover
                    svg(width="55" height="55" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg")
                        rect(width="65" height="65" rx="8" fill="currentColor")
                        path(d="M28.4184 23.4184C28.9256 22.9112 29.7192 22.8651 30.2785 23.2801L30.4387 23.4184L39.0102 31.9898C39.5173 32.497 39.5634 33.2907 39.1485 33.8499L39.0102 34.0102L30.4387 42.5816C29.8808 43.1395 28.9763 43.1395 28.4184 42.5816C27.9112 42.0744 27.8651 41.2808 28.2801 40.7215L28.4184 40.5613L35.9797 33L28.4184 25.4387C27.8605 24.8808 27.8605 23.9763 28.4184 23.4184Z" fill="white")
                .swiper-news-pagination
        .swiper.swiper-news
            .swiper-wrapper.swiper-news__wrapp
                .swiper-slide.swiper-news__slide
                    .news-single__content
                        .info
                            h3 Воздухоочистители vs кондиционеры: что лучше для вашего дома
                            span 25 января
                        p Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit
                        a(href="./news-single-page.html").button-primary Подробнее
                .swiper-slide.swiper-news__slide
                    .news-single__content
                        .info
                            h3 Кондиционеры: что лучше для вашего дома
                            span 25 января
                        p Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit
                        a(href="./news-single-page.html").button-primary Подробнее
                .swiper-slide.swiper-news__slide
                    .news-single__content
                        .info
                            h3 Новость 3
                            span 25 января
                        p Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit
                        a(href="./news-single-page.html").button-primary Подробнее
                .swiper-slide.swiper-news__slide
                    .news-single__content
                        .info
                            h3 Новость 4
                            span 25 января
                        p Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit
                        a(href="./news-single-page.html").button-primary Подробнее
                .swiper-slide.swiper-news__slide
                    .news-single__content
                        .info
                            h3 Новость 5
                            span 25 января
                        p Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit  
                        a(href="./news-single-page.html").button-primary Подробнее 
                .swiper-slide.swiper-news__slide
                    .news-single__content
                        .info
                            h3 Новость 1
                            span 25 января
                        p Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit  
                        a(href="./news-single-page.html").button-primary Подробнее