section.section-partners
    .container
        h2 Наши партнеры
        .section-partners__grid 
            .section-partners__block 
                img(src="./img/logo-1.svg", alt="")
            .section-partners__block 
                img(src="./img/logo-2.svg", alt="")
            .section-partners__block 
                img(src="./img/logo-3.svg", alt="")
            .section-partners__block 
                img(src="./img/logo-4.png", alt="")