section.services 
    .container.services___container
        a(href="").services__card--1.services__card(style='background-image: linear-gradient(rgba(43, 60, 77, 0.74), rgba(43, 60, 77, 0.74)), url("./img/service-1.png"); ')
            h2 Монтаж 
            p Профессиональный монтаж кондиционеров — ключевой этап в обеспечении комфортного и здорового микроклимата в помещении.Сервисное обслуживание кондиционеров — необходимая процедура для поддержания их эффективной и бесперебойной работы. Регулярное техническое обслуживание включает в себя чистку фильтров, проверку уровня хладагента, диагностику состояния компрессора и других ключевых элементов системы.
            span.button-primary Подробнее
        a(href="").services__card--2.services__card(style='background-image: linear-gradient(rgba(43, 60, 77, 0.74), rgba(43, 60, 77, 0.74)), url("./img/service-2.png"); ')
            h2 Обслуживание
            p Сервисное обслуживание кондиционеров — необходимая процедура для поддержания их эффективной и бесперебойной работы. Регулярное техническое обслуживание включает в себя чистку фильтров, проверку уровня хладагента, диагностику состояния компрессора и других ключевых элементов системы.
            span.button-primary Подробнее
        a(href="").services__card--3.services__card(style='background-image: linear-gradient(rgba(43, 60, 77, 0.74), rgba(43, 60, 77, 0.74)), url("./img/service-3.png"); ')
            h2 Ремонт
            p Квалифицированный ремонт не только восстанавливает работоспособность кондиционера, но и предотвращает повторение проблем в будущем, обеспечивая комфорт и прохладу в помещении.
            span.button-primary Подробнее