section.services-section 
    .container.services-section__container.flex
        .services-section__card
            span 01.
            h2 Монтаж
            p Профессиональный монтаж кондиционеров — ключевой этап в обеспечении комфортного и здорового микроклимата в помещении.
            a(href="./services-installation.html").button-primary Подробнее
        .services-section__card
            span 02.
            h2 Обслуживание
            p Сервисное обслуживание кондиционеров — необходимая процедура для поддержания их эффективной и бесперебойной работы. 
            a(href="./services-service.html").button-primary Подробнее
        .services-section__card
            span 03.
            h2 Ремонт
            p Профессиональный ремонт кондиционеров — ключевой этап в обеспечении комфортного и здорового микроклимата в помещении.
            a(href="./services-repair.html").button-primary Подробнее